{
  "ignore": [
    "*.dev.js"
  ],
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "@config": "./src/config",
          "@controller-v1": "./src/http/v1/controllers",
          "@middlewares": "./src/middlewares",
          "@utils": "./src/utils",
          "@models": "./src/db/models"
        }
      }
    ]
  ]
}
