NODE_ENV=development

PROJECT=babel-express
TAG=1

APP_SECRET_KEY=hus

USE_ENCRYPTION=false
USE_FIREBASE=false

SERVICE_HOST=0.0.0.0
SERVICE_PORT=3000

FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=

HEALTHCHECK_HEARTBEAT_INTERVAL=5000

DB_USER=postgres
DB_PASSWORD=root
DB_NAME=express-starter-chat
DB_HOST=localhost
DB_PORT=5432
DB_DIALECT=postgres
DATABASE_URL=postgres://postgres:root@localhost:5432/prisma

BASIC_AUTH_USERNAME=basicauth
BASIC_AUTH_PASSWORD=12a48a51-9f09-4d07-bf7d-37b3c6db4967

JWT_SECRET=4ceeb773-488f-4193-aea5-28a93d792d26
JWT_EXPIRED_IN=3d
JWT_REFRESH_EXPIRED_IN=30d
JWT_REFRESH_SECRET=8455390e-1577-4430-a7a3-7294aad9e768

WEB_SOCKET_PATH=/socket
WEB_SOCKET_SERVER_PATH=
WEB_SOCKET_SERVER_KEY=